.accordion{overflow:hidden;background:#fff}
.accordion .accordion-header{background:#fece2f url('images/ui-bg_gloss-wave_70_ffdd57_500x100.png') repeat-x 50% 50%;color:#4c3000;cursor:pointer;border-top-width:0}
.accordion .accordion-header .panel-title{font-weight:normal}
.accordion .accordion-header-selected .panel-title{font-weight:bold}
.accordion-noborder .accordion-header{border-width:0 0 1px}
.accordion-noborder .accordion-body{border-width:0}
.accordion-collapse{background:url('images/ui-icons_bd7b00_256x240.png') no-repeat 0 -16px}
.accordion-expand{background:url('images/ui-icons_bd7b00_256x240.png') no-repeat -65px -16px}
.accordion .panel-tool a:hover{background-color:#fff9e5}
.calendar{overflow:hidden;padding:1px;border:1px solid #8e846b}
.calendar-noborder{border:0}
.calendar-header{position:relative;height:22px;background:#e0ecff url('images/ui-bg_gloss-wave_45_817865_500x100.png') repeat-x 50% 50%;font-size:12px}
.calendar-title{height:22px;text-align:center}
.calendar-title span{position:relative;top:2px;display:inline-block;padding:3px;border-radius:4px;color:#fff;line-height:12px;cursor:pointer}
.calendar-prevmonth,.calendar-nextmonth,.calendar-prevyear,.calendar-nextyear{position:absolute;top:4px;width:14px;height:14px;border-radius:4px;font-size:1px;line-height:12px;cursor:pointer}
.calendar-prevmonth{left:20px;background:url('images/calendar_arrows.png') no-repeat -18px -2px}
.calendar-nextmonth{right:20px;background:url('images/calendar_arrows.png') no-repeat -34px -2px}
.calendar-prevyear{left:3px;background:url('images/calendar_arrows.png') no-repeat -1px -2px}
.calendar-nextyear{right:3px;background:url('images/calendar_arrows.png') no-repeat -49px -2px}
.calendar-body{position:relative;background:#feeebd url('images/ui-bg_highlight-soft_100_feeebd_1x100.png') repeat-x;font-size:12px}
.calendar-body table{width:100%;height:100%;border:1px solid #8e846b;font-size:12px}
.calendar-body th,.calendar-body td{text-align:center}
.calendar-body th{color:#888}
.calendar-day{border-radius:4px;color:#222;cursor:pointer}
.calendar-sunday{color:#c22}
.calendar-saturday{color:#c22}
.calendar-today{color:#00f}
.calendar-other-month{opacity:.3;filter:alpha(opacity=30)}
.calendar-hover{background:#ffdd57}
.calendar-selected{background:#fbec88 url('images/ui-bg_gloss-wave_60_fece2f_500x100.png') no-repeat 50% 50%}
.calendar-nav-hover{background-color:#ffdd57}
.calendar-menu{position:absolute;top:0;left:0;display:none;overflow:hidden;padding:5px;width:180px;height:150px;background:#fafafa;font-size:12px;opacity:.8;filter:alpha(opacity=80)}
.calendar-menu-year-inner{padding-bottom:5px;text-align:center}
.calendar-menu-year{padding:2px;width:40px;border:1px solid #ccc;text-align:center;font-weight:bold}
.calendar-menu-prev,.calendar-menu-next{display:inline-block;width:21px;height:21px;vertical-align:top;cursor:pointer}
.calendar-menu-prev{margin-right:10px;border-radius:4px;background:url('images/calendar_arrows.png') no-repeat 2px 2px}
.calendar-menu-next{margin-left:10px;border-radius:4px;background:url('images/calendar_arrows.png') no-repeat -45px 2px}
.calendar-menu-hover{background-color:#ffdd57}
.calendar-menu-month-inner table{width:100%;height:100%}
.calendar-menu-month{border:1px solid #fafafa;border-radius:8px;color:#666;text-align:center;font-weight:bold;cursor:pointer}
.combo{display:inline-block;overflow:hidden;margin:0;padding:0;border:1px solid #8e846b;background:#fff;vertical-align:middle;white-space:nowrap;font-size:12px}
.combo-text{padding:0 2px;height:20px;border:0;font-size:12px;line-height:20px;*margin-top:-1px;*height:18px;*line-height:18px;_height:18px;_line-height:18px}
.combo-arrow{display:inline-block;overflow:hidden;width:18px;height:20px;background:#fece2f url('images/ui-icons_bd7b00_256x240.png') no-repeat -63px -14px;vertical-align:top;cursor:pointer}
.combo-arrow-hover{background-color:#ffdd57}
.combo-panel{overflow:auto;background:#feeebd url('images/ui-bg_highlight-soft_100_feeebd_1x100.png') repeat-x}
.combobox-item{padding:2px;padding:3px;padding-right:0;font-size:12px}
.combobox-item-hover{background:#fece2f url('images/ui-bg_gloss-wave_60_fece2f_500x100.png') repeat-x 50% 50%}
.combobox-item-selected{background:#ffdd57 url('images/ui-bg_gloss-wave_70_ffdd57_500x100.png') repeat-x 50% 50%}
.datagrid .panel-body{overflow:hidden}
.datagrid-wrap{position:relative}
.datagrid-view{position:relative;overflow:hidden}
.datagrid-view1{position:absolute;top:0;left:0;overflow:hidden}
.datagrid-view2{position:absolute;top:0;right:0;overflow:hidden}
.datagrid-mask{position:absolute;top:0;left:0;display:none;width:100%;height:100%;background:#ccc;opacity:.3;filter:alpha(opacity=30)}
.datagrid-mask-msg{position:absolute;top:50%;display:none;margin-top:-20px;padding:12px 5px 10px 30px;width:auto;height:16px;border:2px solid #fece2f;background:#fff url('images/pagination_loading.gif') no-repeat scroll 5px 10px;color:#222}
.datagrid-sort-desc .datagrid-sort-icon{padding:1px 13px 3px 0;background:url('images/ui-icons_ed9f26_256x240.png') no-repeat -64px -16px}
.datagrid-sort-asc .datagrid-sort-icon{padding:1px 13px 3px 0;background:url('images/ui-icons_ed9f26_256x240.png') no-repeat 0 -16px}
.datagrid-toolbar{padding:1px 2px;height:28px;border-bottom:1px solid #ccc;background:#efefef}
.datagrid-btn-separator{float:left;margin:2px 1px;height:24px;border-right:1px solid #fff;border-left:1px solid #ccc}
.datagrid-pager{position:relative;border-top:1px solid #fece2f;background:#fff9e5 url('images/ui-bg_gloss-wave_90_fff9e5_500x100.png') repeat-x 50% 50%}
.datagrid-pager-top{border-top:0;border-bottom:1px solid #fece2f}
.datagrid-header{overflow:hidden;border-bottom:1px solid #ccc;background:#fff9e5 url('images/ui-bg_gloss-wave_90_fff9e5_500x100.png') repeat-x 50% 50%;cursor:default}
.datagrid-header-inner{float:left;width:10000px}
.datagrid-header-row{height:25px}
.datagrid-header td{border-top:1px dotted #fff;border-right:1px dotted #fece2f;border-bottom:1px dotted #fece2f;background:#fff9e5 url('images/ui-bg_gloss-wave_90_fff9e5_500x100.png') repeat-x 50% 50%;font-weight:normal;font-size:12px}
.datagrid-header td.datagrid-header-over{background:#ffdd57}
.datagrid-header .datagrid-cell{overflow:hidden;margin:0;padding:3px 4px;white-space:nowrap;word-wrap:normal}
.datagrid-header .datagrid-cell-group{overflow:hidden;margin:0;padding:4px 2px 4px 4px;text-align:center;white-space:nowrap;word-wrap:normal}
.datagrid-header-rownumber{margin:0;padding:3px 0;width:25px;text-align:center}
.datagrid-td-rownumber{background:#fff9e5 url('images/ui-bg_gloss-wave_90_fff9e5_500x100.png') repeat-x 50% 50%}
.datagrid-cell-rownumber{margin:0;padding:3px 0;width:25px;color:#000;text-align:center}
.datagrid-body{overflow:auto;margin:0;padding:0;background:#fff;zoom:1}
.datagrid-view1 .datagrid-body-inner{padding-bottom:20px}
.datagrid-view1 .datagrid-body{overflow:hidden}
.datagrid-footer{overflow:hidden;background:#fff}
.datagrid-footer-inner{float:left;width:10000px;border-top:1px solid #d19405}
.datagrid-body td,.datagrid-footer td{overflow:hidden;margin:0;padding:0;border-right:1px dotted #fece2f;border-bottom:1px dotted #fece2f;font-size:12px}
.datagrid-body .datagrid-cell,.datagrid-footer .datagrid-cell{overflow:hidden;margin:0;padding:0 4px;height:18px;white-space:nowrap;word-wrap:normal;line-height:18px}
.datagrid-row-editing .datagrid-cell{height:auto}
.datagrid-header-check,.datagrid-cell-check{overflow:hidden;padding:0;width:27px;height:18px;text-align:center;font-size:1px}
.datagrid-header-check input,.datagrid-cell-check input{margin:0;padding:0;width:15px;height:18px}
.datagrid-row{height:25px}
.datagrid-row-collapse{background:url('images/datagrid_row_collapse.gif') no-repeat center center}
.datagrid-row-expand{background:url('images/datagrid_row_expand.gif') no-repeat center center}
.datagrid-row-alt{background:#fafafa}
.datagrid-row-over{background:#fece2f url('images/ui-bg_gloss-wave_60_fece2f_500x100.png') repeat-x 50% 50%;cursor:default}
.datagrid-row-selected{background:#ffdd57 url('images/ui-bg_gloss-wave_70_ffdd57_500x100.png') repeat-x 50% 50%}
.datagrid-resize-proxy{position:absolute;top:0;display:none;width:1px;height:10000px;background:red;cursor:e-resize}
.datagrid-body .datagrid-editable{padding:0}
.datagrid-body .datagrid-editable table{width:100%;height:100%}
.datagrid-body .datagrid-editable td{padding:0;border:0}
.datagrid-body .datagrid-editable .datagrid-editable-input{padding:3px 2px;width:100%;border:1px solid #a4bed4;font-size:12px}
.datebox .combo-arrow{background:url('images/datebox_arrow.png') no-repeat center center}
.datebox-calendar-inner{height:180px}
.datebox-button{padding:2px 5px;height:18px;background-color:#fff9e5;text-align:center;font-size:12px}
.datebox-current,.datebox-close{float:left;color:#888;text-decoration:none;font-weight:bold}
.datebox-close{float:right}
.datebox-ok{color:#888;text-decoration:none;font-weight:bold}
.datebox-button-hover{color:#444}
.dialog-content{overflow:auto}
.dialog-toolbar{padding:2px 5px;border-bottom:1px solid #eee;background:#fafafa}
.dialog-tool-separator{float:left;margin:2px 1px;height:24px;border-right:1px solid #fff;border-left:1px solid #ccc}
.dialog-button{padding:5px 5px;border-top:1px solid #eee;background:#fafafa;text-align:right}
.dialog-button .l-btn{margin-left:5px}
.layout{position:relative;z-index:0;overflow:hidden;margin:0;padding:0}
.layout-panel{position:absolute;overflow:hidden}
.layout-panel-east,.layout-panel-west{z-index:2}
.layout-panel-north,.layout-panel-south{z-index:3}
.layout-button-up{background:url('images/ui-icons_fadc7a_256x240.png') no-repeat -96px -192px}
.layout-button-down{background:url('images/ui-icons_fadc7a_256x240.png') no-repeat -64px -192px}
.layout-button-left{background:url('images/ui-icons_fadc7a_256x240.png') no-repeat -80px -192px}
.layout-button-right{background:url('images/ui-icons_fadc7a_256x240.png') no-repeat -48px -192px}
.layout-expand{position:absolute;z-index:1;padding:0 5px;padding:0;background:#817865;font-size:1px;cursor:pointer}
.layout-expand .panel-header{background:transparent;border-bottom-width:0}
.layout-expand .panel-header .panel-tool{top:5px}
.layout-expand .panel-body{overflow:hidden;background:transparent}
.layout-expand-over{background:#888}
.layout-body{overflow:auto}
.layout-split-proxy-h{position:absolute;z-index:5;display:none;width:5px;background:#888;font-size:1px;cursor:e-resize}
.layout-split-proxy-v{position:absolute;z-index:5;display:none;height:5px;background:#888;font-size:1px;cursor:n-resize}
.layout-split-north{border-bottom:5px solid #aaa}
.layout-split-south{border-top:5px solid #aaa}
.layout-split-east{border-left:5px solid #aaa}
.layout-split-west{border-right:5px solid #aaa}
.layout-mask{position:absolute;z-index:4;background:#fafafa;opacity:.10;filter:alpha(opacity=10)}
a.l-btn{display:inline-block;padding-right:18px;height:24px;outline:0;border:1px solid #d19405;border-radius:8px;background:url('images/ui-bg_gloss-wave_60_fece2f_500x100.png') repeat-x 50% 50%;color:#444;text-decoration:none;font-size:12px;cursor:pointer;zoom:1}
a.l-btn-plain{padding-right:5px;border:1px solid transparent;background:transparent;_border:0 solid #efefef;_padding:1px 6px 1px 1px}
a.l-btn-disabled{color:#ccc;opacity:.5;cursor:default;filter:alpha(opacity=50)}
a.l-btn span.l-btn-left{display:inline-block;padding:4px 0 4px 18px;height:16px;border-radius:8px;background:url('images/ui-bg_gloss-wave_60_fece2f_500x100.png') repeat-x 50% 50%;line-height:16px}
a.l-btn-plain span.l-btn-left{padding-left:5px;background:transparent}
a.l-btn span span.l-btn-text{display:inline-block;padding:0;height:16px;line-height:16px}
a.l-btn span span.l-btn-icon-left{padding:0 0 0 20px;background-position:left center}
a.l-btn span span.l-btn-icon-right{padding:0 20px 0 0;background-position:right center}
a.l-btn span span span.l-btn-empty{display:inline-block;padding:0;width:16px}
a:hover.l-btn{outline:0;background:url('images/ui-bg_gloss-wave_70_ffdd57_500x100.png') repeat-x 50% 50%}
a:hover.l-btn span.l-btn-left{background:url('images/ui-bg_gloss-wave_70_ffdd57_500x100.png') repeat-x 50% 50%}
a:hover.l-btn-plain{border:1px solid #d19405;border-radius:3px;background:url('images/ui-bg_gloss-wave_70_ffdd57_500x100.png') repeat-x 50% 50%;_padding:0 5px 0 0}
a:hover.l-btn-disabled{background-position:top right}
a:hover.l-btn-disabled span.l-btn-left{background-position:top left}
a.l-btn .l-btn-focus{outline:#00f dotted thin}
.menu{position:absolute;overflow:hidden;margin:0;padding:2px;border:1px solid #ccc;background:#f0f0f0 url('images/menu.gif') repeat-y}
.menu-content{background:#fff}
.menu-item{position:relative;overflow:hidden;margin:0;padding:0;height:22px;border:1px solid transparent;font-size:12px;line-height:20px;cursor:pointer;_border:1px solid #f0f0f0}
.menu-text{position:absolute;top:0;left:28px}
.menu-icon{position:absolute;top:3px;left:2px;width:16px;height:16px}
.menu-rightarrow{position:absolute;top:7px;right:5px;width:4px;height:7px;background:url('images/menu_rightarrow.png') no-repeat}
.menu-sep{margin:3px 0 3px 24px;background:url('images/menu_sep.png') repeat-x;font-size:2px;line-height:2px}
.menu-active{border:1px solid #d19405;border-radius:3px;background:#fece2f url('images/ui-bg_gloss-wave_60_fece2f_500x100.png') repeat-x 50% 50%}
.menu-shadow{position:absolute;border-radius:5px;background:#ddd;-webkit-box-shadow:2px 2px 3px rgba(0,0,0,0.2);-moz-box-shadow:2px 2px 3px rgba(0,0,0,0.2);box-shadow:2px 2px 3px rgba(0,0,0,0.2);filter:progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=false,ShadowOpacity=0.2)}
.menu-item-disabled{opacity:.5;cursor:default;filter:alpha(opacity=50)}
.menu-active-disabled{border-color:#d3d3d3}
.m-btn-downarrow{display:inline-block;width:12px;background:url('images/menu_downarrow.png') no-repeat 4px center;line-height:14px;*line-height:15px}
a.m-btn-active{background-position:bottom right}
a.m-btn-active span.l-btn-left{background-position:bottom left}
a.m-btn-plain-active{border:1px solid #d19405;border-radius:3px;background:#fece2f url('images/ui-bg_gloss-wave_60_fece2f_500x100.png') repeat-x 50% 50%;_padding:0 5px 0 0}
.messager-body{padding:5px 10px}
.messager-button{padding-top:10px;text-align:center}
.messager-icon{float:left;margin:0 10px 10px 0;width:32px;height:32px}
.messager-error{background:url('images/messager_error.gif') no-repeat scroll left top}
.messager-info{background:url('images/messager_info.gif') no-repeat scroll left top}
.messager-question{background:url('images/messager_question.gif') no-repeat scroll left top}
.messager-warning{background:url('images/messager_warning.gif') no-repeat scroll left top}
.messager-input{width:262px;border:1px solid #ccc}
.messager-progress{padding:10px}
.messager-p-msg{margin-bottom:5px}
.pagination{zoom:1}
.pagination table{float:left;height:30px}
.pagination td{border:0}
.pagination-btn-separator{float:left;margin:3px 1px;height:24px;border-right:1px solid #fff;border-left:1px solid #ccc}
.pagination-num{margin:0 2px;border:1px solid #ccc}
.pagination-page-list{margin:0 6px}
.pagination-info{float:right;padding-top:8px;padding-right:6px;font-size:12px}
.pagination span{white-space:nowrap;font-size:12px}
.pagination-first{background:url('images/ui-icons_ed9f26_256x240.png') no-repeat -80px -160px}
.pagination-prev{background:url('images/ui-icons_ed9f26_256x240.png') no-repeat -48px -160px}
.pagination-next{background:url('images/ui-icons_ed9f26_256x240.png') no-repeat -32px -160px}
.pagination-last{background:url('images/ui-icons_ed9f26_256x240.png') no-repeat -64px -160px}
.pagination-load{background:url('images/ui-icons_ed9f26_256x240.png') no-repeat -64px -80px}
.pagination-loading{background:url('images/pagination_loading.gif') no-repeat}
.panel{overflow:hidden;font-size:12px}
.panel-header{position:relative;padding:5px;border:1px solid #8e846b;background:url('images/ui-bg_gloss-wave_45_817865_500x100.png') repeat-x 50% 50%;color:#fff;font-weight:bold;font-size:12px;line-height:15px}
.panel-title{background:url('images/blank.gif') no-repeat}
.panel-header-noborder{border-width:0;border-bottom:1px solid #8e846b}
.panel-body{overflow:auto;border:1px solid #8e846b;background:#feeebd url('images/ui-bg_highlight-soft_100_feeebd_1x100.png') repeat-x;border-top-width:0}
.panel-body-noheader{border-top-width:1px}
.panel-body-noborder{border-width:0}
.panel-with-icon{padding-left:18px}
.panel-icon{position:absolute;top:5px;left:5px;width:16px;height:16px}
.panel-tool{position:absolute;top:5px;right:5px}
.panel-tool a{display:inline-block;margin-left:2px;width:16px;height:16px;opacity:.6;filter:alpha(opacity=60)}
.panel-tool a:hover{border-radius:8px;background-color:#d19405;opacity:1;filter:alpha(opacity=100)}
.panel-tool-close{background:url('images/ui-icons_fadc7a_256x240.png') no-repeat -96px -128px}
.panel-tool-min{background:url('images/ui-icons_fadc7a_256x240.png') no-repeat -64px -128px}
.panel-tool-max{background:url('images/ui-icons_fadc7a_256x240.png') no-repeat -32px -80px}
.panel-tool-restore{background:url('images/ui-icons_fadc7a_256x240.png') no-repeat -48px -80px}
.panel-tool-collapse{background:url('images/ui-icons_fadc7a_256x240.png') no-repeat 0 -16px}
.panel-tool-expand{background:url('images/ui-icons_fadc7a_256x240.png') no-repeat -64px -16px}
.panel-loading{padding:11px 0 10px 30px;background:url('images/panel_loading.gif') no-repeat 10px 10px}
.panel-noscroll{overflow:hidden}
.panel-fit,.panel-fit body{overflow:hidden;margin:0;padding:0;height:100%;border:0}
.progressbar{overflow:hidden;border:1px solid #8e846b;border-radius:5px}
.progressbar-text{position:absolute;color:#444;text-align:center}
.progressbar-value{width:0;border-radius:5px;border-top-right-radius:0;border-bottom-right-radius:0;background:#817865 url('images/ui-bg_diagonals-medium_20_d34d17_40x40.png') repeat 50% 50%}
.propertygrid .datagrid-view1 .datagrid-body,.propertygrid .datagrid-group{background:#fff9e5}
.propertygrid .datagrid-group{overflow:hidden;height:21px}
.propertygrid .datagrid-view1 .datagrid-body td{border-color:#fff9e5}
.propertygrid .datagrid-view1 .datagrid-row-over,.propertygrid .datagrid-view1 .datagrid-row-selected{background:#fff9e5}
.propertygrid .datagrid-group span{padding-left:4px;color:#416aa3;font-weight:bold}
.propertygrid .datagrid-row-collapse,.propertygrid .datagrid-row-expand{background-position:3px center}
.searchbox{display:inline-block;margin:0;padding:0;border:1px solid #8e846b;background:#fff;white-space:nowrap;font-size:12px}
.searchbox-text{padding:0;height:20px;border:0;font-size:12px;line-height:20px;*height:18px;*line-height:18px;_height:18px;_line-height:18px}
.searchbox-button{display:inline-block;overflow:hidden;width:18px;height:20px;background:url('images/ui-icons_eb990f_256x240.png') no-repeat -160px -110px;vertical-align:top;opacity:.6;cursor:pointer;filter:alpha(opacity=60)}
.searchbox-button-hover{opacity:1.0;filter:alpha(opacity=100)}
.searchbox-prompt{color:#ccc;font-size:12px}
.searchbox a.l-btn-plain{padding:0 6px 0 0;height:20px;border:0;border-radius:0;background-color:#fff9e5;vertical-align:top}
.searchbox a.l-btn .l-btn-left{padding:2px 0 2px 2px}
.searchbox a.l-btn-plain:hover{padding:0 6px 0 0;border:0;border-radius:0}
.searchbox a.m-btn-plain-active{border-radius:0}
.slider-disabled{opacity:.5;filter:alpha(opacity=50)}
.slider-h{height:22px}
.slider-v{width:22px}
.slider-inner{position:relative;top:7px;height:6px;border:1px solid #8e846b;border-radius:3px;background:#fafafa}
.slider-handle{position:absolute;top:-7px;display:block;margin-left:-10px;width:20px;height:20px;outline:0;background:url('images/slider_handle.png') no-repeat}
.slider-tip{position:absolute;top:-22px;display:inline-block;white-space:nowrap;line-height:12px}
.slider-rule{position:relative;top:15px}
.slider-rule span{position:absolute;display:inline-block;height:5px;border-left:1px solid #999;font-size:0}
.slider-rulelabel{position:relative;top:20px}
.slider-rulelabel span{position:absolute;display:inline-block;color:#999}
.slider-v .slider-inner{top:0;left:7px;float:left;width:6px}
.slider-v .slider-handle{left:3px;margin-top:-10px}
.slider-v .slider-tip{left:-10px;margin-top:-6px}
.slider-v .slider-rule{top:0;left:16px;float:left}
.slider-v .slider-rule span{width:5px;height:'auto';border-top:1px solid #999;border-left:0}
.slider-v .slider-rulelabel{top:0;left:23px;float:left}
.spinner{display:inline-block;margin:0;padding:0;border:1px solid #8e846b;white-space:nowrap;font-size:12px}
.spinner-text{padding:0;height:20px;border:0;font-size:12px;line-height:20px;*height:18px;*line-height:18px;_height:18px;_line-height:18px}
.spinner-arrow{display:inline-block;margin:0;padding:0;vertical-align:top}
.spinner-arrow-up,.spinner-arrow-down{display:block;width:18px;height:10px;background:#fece2f url('images/ui-icons_bd7b00_256x240.png') no-repeat 2px -2px;font-size:1px}
.spinner-arrow-down{background:#fece2f url('images/ui-icons_bd7b00_256x240.png') no-repeat -63px -3px}
.spinner-arrow-hover{background-color:#ffdd57}
.s-btn-downarrow{display:inline-block;width:16px;background:url('images/menu_downarrow.png') no-repeat 9px center;line-height:14px;*line-height:15px}
a.s-btn-active{background-position:bottom right}
a.s-btn-active span.l-btn-left{background-position:bottom left}
a.s-btn-active .s-btn-downarrow{background:url('images/menu_split_downarrow.png') no-repeat -12px center}
a:hover.l-btn .s-btn-downarrow{background:url('images/menu_split_downarrow.png') no-repeat -12px center}
a.s-btn-plain-active{border:1px solid #d19405;border-radius:3px;background:#fece2f url('images/ui-bg_gloss-wave_60_fece2f_500x100.png') repeat-x 50% 50%;_padding:0 5px 0 0}
a.s-btn-plain-active .s-btn-downarrow{background:url('images/menu_split_downarrow.png') no-repeat -12px center}
.tabs-container{overflow:hidden}
.tabs-header{position:relative;overflow:hidden;overflow:hidden;padding:0;padding-top:2px;border:1px solid #8e846b;background:#817865 url('images/ui-bg_gloss-wave_45_817865_500x100.png') repeat-x 50% 50%;border-bottom-width:0}
.tabs-header-plain{border:0;background:transparent}
.tabs-scroller-left,.tabs-scroller-right{position:absolute;top:auto;bottom:0;left:0;display:none;width:18px;height:25px;border:1px solid #8e846b;background:url('images/ui-icons_ed9f26_256x240.png') no-repeat -80px -188px;font-size:1px;cursor:pointer}
.tabs-scroller-right{right:0;left:auto;background-position:-48px -188px}
.tabs-tool{position:absolute;top:-1px;overflow:hidden;padding:1px;border:1px solid #8e846b;background1:#817865 url('images/ui-bg_gloss-wave_45_817865_500x100.png') repeat 50% 50%}
.tabs-header-plain .tabs-scroller-left{top:auto;bottom:0;height:25px!important;height:27px;border:1px solid #8e846b;background-position:-80px -187px}
.tabs-header-plain .tabs-scroller-right{top:auto;bottom:0;height:25px!important;height:27px;border:1px solid #8e846b;background-position:-48px -187px}
.tabs-header-plain .tabs-tool{top:2px;padding-top:0}
.tabs-wrap{position:relative;left:0;overflow:hidden;margin:0;padding:0;width:100%}
.tabs-scrolling{margin-right:18px;margin-left:18px}
.tabs-disabled{opacity:.3;filter:alpha(opacity=30)}
.tabs{margin:0;padding:0;padding-left:4px;width:5000px;height:26px;border:1px solid #8e846b;border-width:0 0 1px 0;list-style-type:none;font-size:12px}
.tabs li{position:relative;float:left;display:inline-block;margin-right:4px;margin-bottom:-1px;padding:0;border:1px solid #8e846b;border-radius:5px 5px 0 0}
.tabs li a.tabs-inner{display:inline-block;margin:0;padding:0 10px;height:25px;border-radius:5px 5px 0 0;background:#fece2f url('images/ui-bg_gloss-wave_60_fece2f_500x100.png') repeat-x 50% 50%;color:#4c3000;text-align:center;text-decoration:none;white-space:nowrap;line-height:25px}
.tabs li a.tabs-inner:hover{background:#ffdd57 url('images/ui-bg_gloss-wave_70_ffdd57_500x100.png') repeat-x 50% 50%}
.tabs li.tabs-selected{border:1px solid #8e846b;border-bottom:1px solid #fff9e5}
.tabs li.tabs-selected a.tabs-inner{outline:0;background:#fff9e5 url('images/ui-bg_gloss-wave_90_fff9e5_500x100.png') repeat-x 50% 50%;color:#416aa3;font-weight:bold}
.tabs li.tabs-selected a:hover.tabs-inner{cursor:default;pointer:default}
.tabs-p-tool{position:absolute;top:7px;right:16px;display:block}
.tabs-p-tool a{display:inline-block;width:12px;height:12px;font-size:1px;opacity:.6;filter:alpha(opacity=60)}
.tabs-p-tool a:hover{border-radius:2px;background-color:#8db2e3;opacity:1;cursor:hand;cursor:pointer;filter:alpha(opacity=100)}
.tabs-with-icon{padding-left:18px}
.tabs-icon{position:absolute;top:5px;left:10px;width:16px;height:16px}
.tabs-closable{padding-right:8px}
.tabs li a.tabs-close{position:absolute;top:7px;right:5px;display:block;padding:0;width:11px;height:11px;background:url('images/tabs_close.gif') no-repeat 2px 2px;font-size:1px;opacity:.6;filter:alpha(opacity=60)}
.tabs li a:hover.tabs-close{border-radius:2px;background-color:#8db2e3;opacity:1;cursor:hand;cursor:pointer;filter:alpha(opacity=100)}
.tabs-panels{overflow:hidden;margin:0;padding:0;border:1px solid #8e846b;border-top-width:0}
.tabs-header-bottom{padding:0 0 2px 0;border-width:0 1px 1px 1px}
.tabs-header-bottom .tabs{border-width:1px 0 0 0}
.tabs-header-bottom .tabs li{margin:-1px 4px 0 0;-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px}
.tabs-header-bottom .tabs li.tabs-selected{border:1px solid #8e846b;border-top:1px solid #fff9e5}
.tabs-header-bottom .tabs li a.tabs-inner{-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;background-position:left top}
.tabs-header-bottom .tabs-tool{top:0}
.tabs-header-bottom .tabs-scroller-left,.tabs-header-bottom .tabs-scroller-right{top:0;bottom:auto}
.tabs-panels-top{border-width:1px 1px 0 1px}
.tabs-header-left{float:left;padding:0;border-width:1px 0 1px 1px}
.tabs-header-left .tabs-wrap{height:100%}
.tabs-header-left .tabs{padding:4px 0 0 4px;height:100%;border-width:0 1px 0 0}
.tabs-header-left .tabs li{position:relative;right:1px;display:block;margin:0;margin-bottom:4px;width:100%;-webkit-border-radius:5px 0 0 5px;-moz-border-radius:5px 0 0 5px;border-radius:5px 0 0 5px;border-right-width:0}
.tabs-header-left .tabs li.tabs-selected{right:0;border-bottom:1px solid #8e846b;border-right-width:0}
* html .tabs-header-left .tabs li.tabs-selected{\right:-1px}
.tabs-header-left .tabs li.tabs-selected a.tabs-inner{background:#fff9e5}
.tabs-header-left .tabs li a.tabs-inner{display:block;-webkit-border-radius:5px 0 0 5px;-moz-border-radius:5px 0 0 5px;border-radius:5px 0 0 5px;text-align:left}
.tabs-panels-right{float:right;border-width:1px 1px 1px 0}
.tabs-header-right{float:right;border-width:1px 1px 1px 0}
.tabs-header-right .tabs{padding:4px 4px 0 0;border-width:0 0 0 1px}
.tabs-header-right .tabs li{right:auto;left:0;border-width:1px 1px 1px 0;-webkit-border-radius:0 5px 5px 0;-moz-border-radius:0 5px 5px 0;border-radius:0 5px 5px 0}
.tabs-header-right .tabs li.tabs-selected{right:auto;left:-1px;border-width:1px 1px 1px 0;border-bottom:1px solid #8e846b;border-left-width:0}
.tabs-header-right .tabs li a.tabs-inner{-webkit-border-radius:0 5px 5px 0;-moz-border-radius:0 5px 5px 0;border-radius:0 5px 5px 0}
.tabs-panels-left{float:left;border-width:1px 0 1px 1px}
.tabs-header-noborder,.tabs-panels-noborder{border:0}
.tabs-header-plain{border:0;background:transparent}
.tree{margin:0;padding:0;list-style-type:none;font-size:14px}
.tree li{white-space:nowrap;padding: 4px 0;}
.tree li ul{margin:0;padding:0;list-style-type:none}
.tree-node{height:18px;white-space:nowrap;cursor:pointer}
.tree-indent{display:inline-block;width:16px;height:18px;vertical-align:middle}
.tree-hit{cursor:pointer}
.tree-expanded{display:inline-block;width:16px;height:18px;background:url('images/tree_arrows.png') no-repeat -18px 0;vertical-align:middle}
.tree-expanded-hover{background:url('images/tree_arrows.png') no-repeat -50px 0}
.tree-collapsed{display:inline-block;width:16px;height:18px;background:url('images/tree_arrows.png') no-repeat 0 0;vertical-align:middle}
.tree-collapsed-hover{background:url('images/tree_arrows.png') no-repeat -32px 0}
.tree-lines .tree-expanded{background:url('images/tree_elbow.png') no-repeat -36px -54px}
.tree-lines .tree-collapsed{background:url('images/tree_elbow.png') no-repeat 0 -36px}
.tree-lines .tree-node-last .tree-expanded{background:url('images/tree_elbow.png') no-repeat -18px 0}
.tree-lines .tree-node-last .tree-collapsed{background:url('images/tree_elbow.png') no-repeat -36px -36px}
.tree-lines .tree-root-first .tree-expanded{background:url('images/tree_elbow.png') no-repeat -18px -54px}
.tree-lines .tree-root-first .tree-collapsed{background:url('images/tree_elbow.png') no-repeat -18px -36px}
.tree-lines .tree-root-one .tree-expanded{background:url('images/tree_elbow.png') no-repeat 0 -18px}
.tree-lines .tree-root-one .tree-collapsed{background:url('images/tree_elbow.png') no-repeat 0 -72px}
.tree-line{background:url('images/tree_elbow.png') no-repeat 0 -54px}
.tree-join{background:url('images/tree_elbow.png') no-repeat -18px -18px}
.tree-joinbottom{background:url('images/tree_elbow.png') no-repeat 0 0}
.tree-folder{display:inline-block;width:16px;height:18px;background:url('images/tree_folder.gif') no-repeat;vertical-align:middle}
.tree-folder-open{background:url('images/tree_folder_open.gif') no-repeat}
.tree-file{display:inline-block;width:16px;height:18px;background:url('images/tree_file.gif') no-repeat;vertical-align:middle}
.tree-loading{background:url('images/tree_loading.gif') no-repeat}
.tree-title{display:inline-block;padding:1px 2px 1px 2px;vertical-align:middle;text-decoration:none;white-space:nowrap}
.tree-node-hover{background:#fece2f url('images/ui-bg_gloss-wave_60_fece2f_500x100.png') repeat-x 50% 50%}
.tree-node-selected{background:#ffdd57 url('images/ui-bg_gloss-wave_70_ffdd57_500x100.png') repeat-x 50% 50%}
.tree-checkbox{display:inline-block;width:16px;height:18px;vertical-align:middle}
.tree-checkbox0{background:url('images/tree_checkbox_0.gif') no-repeat}
.tree-checkbox1{background:url('images/tree_checkbox_1.gif') no-repeat}
.tree-checkbox2{background:url('images/tree_checkbox_2.gif') no-repeat}
.tree-node-proxy{z-index:9900000;padding:1px 2px 1px 18px;border:1px solid #ccc;background:#fafafa;font-size:12px}
.tree-dnd-yes{background:url('images/tree_dnd_yes.png') no-repeat 0 center}
.tree-dnd-no{background:url('images/tree_dnd_no.png') no-repeat 0 center}
.tree-node-top{border-top:1px dotted red}
.tree-node-bottom{border-bottom:1px dotted red}
.tree-node-append .tree-title{border:1px dotted red}
.tree-editor{position:absolute;top:0;width:80px;border:1px solid #ccc;font-size:12px;line-height:16px}
.validatebox-invalid{background:#ffe url('images/validatebox_warning.png') no-repeat right 1px}
.validatebox-tip{position:absolute;z-index:9900000;display:none;width:200px;height:auto}
.validatebox-tip-content{position:absolute;top:0;left:10px;z-index:9900001;display:inline-block;padding:3px 5px;border:1px solid #c93;background:#ffc;font-size:12px}
.validatebox-tip-pointer{position:absolute;top:0;left:1px;z-index:9900002;display:inline-block;width:10px;height:19px;background:url('images/validatebox_pointer.png') no-repeat left top}
.validatebox-tip-left .validatebox-tip-content{right:10px;left:auto}
.validatebox-tip-left .validatebox-tip-pointer{right:1px;left:auto;background:url('images/validatebox_pointer.png') no-repeat left -19px}
.window{position:absolute;overflow:hidden;padding:5px;border:1px solid #8e846b;border-radius:5px;background:transparent url('images/ui-bg_gloss-wave_45_817865_500x100.png') repeat 0 -40px;font-size:12px}
.window-shadow{position:absolute;border-radius:5px;background:#ddd;-webkit-box-shadow:2px 2px 3px rgba(0,0,0,0.2);-moz-box-shadow:2px 2px 3px rgba(0,0,0,0.2);box-shadow:2px 2px 3px rgba(0,0,0,0.2);filter:progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=false,ShadowOpacity=0.2)}
.window .window-header{padding:2px 0 4px 0;background:transparent}
.window .window-body{border:1px solid #8e846b;background:#feeebd url('images/ui-bg_highlight-soft_100_feeebd_1x100.png') repeat-x;border-top-width:0}
.window .window-body-noheader{border-top-width:1px}
.window .window-header .panel-icon{top:1px;left:1px}
.window .window-header .panel-with-icon{padding-left:18px}
.window .window-header .panel-tool{top:0;right:1px}
.window-proxy{position:absolute;overflow:hidden;border:1px dashed #8e846b}
.window-proxy-mask{position:absolute;background:#fafafa;opacity:.10;filter:alpha(opacity=10)}
.window-mask{position:absolute;top:0;left:0;overflow:hidden;width:100%;height:100%;background:#ccc;font-size:1px;opacity:.40;filter:alpha(opacity=40);*zoom:1}
